<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daftar</title>
  </head>
  <body>
  <form action="/daftar" method="post">
   <p>
      <label for="Username">Username: </label>
      <input type="text" name="Username"><br />

      <label for="Nama">Nama: </label>
      <input type="text" name="Nama"><br />

      <label for="Email">Email: </label>
      <input type="email" name="Email"><br>

      <label for="Password">Password: </label>
      <input type="password" name="Password"><br>

      <input type="radio" name="Jk" value="Laki-laki"> Laki-laki<br>
      <input type="radio" name="Jk" value="Perempuan"> Perempuan<br>

      <input type="submit" value="Daftar"> <input type="reset">
   </p>
  </form>
  </body>
</html>
